<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments :: html_head(pageTitle='Select fields and get report')"/>
<body>
    <div class="container">
        <div align="center">
            <h2>Select fields and get report</h2>
            <div align="center" th:replace="fragments :: header"></div>
        </div>
        <div align="center">
            <h4><a th:href="@{/welcome}">To welcome page</a></h4>
        </div>

        <form th:action="@{/report}"  th:object="${ReportRequest}" method="POST" style="max-width: 300px; margin: 0 auto;">
            <div class="border border-secondary rounded p-3">
                <strong>Select fields of report (Multiple):</strong>
                <ul>
                    <li th:each="field : ${fields}">
                        <input type="checkbox" th:field="*{fields}" th:value="${field}"/>
                        <label th:for="${#ids.prev('fields')}" th:text="${field}"></label>
                    </li>
                </ul>
                <input type="submit" value="Get report"/>
            </div>
        </form>

        <div align="center" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_OWNER')">
            <form method="post" th:action="@{/upload}" enctype="multipart/form-data" style="max-width: 300px; margin: 0 auto;">
                <div class="border border-secondary rounded p-3">
                    <input type="file" name="file" class="form-control-file">
                    <button type="submit" class="btn btn-primary">Upload File</button>
                </div>
            </form>
        </div>

        <div align="center" class="border border-secondary rounded p-3">
            <table border="1" style="max-width: 600px; margin: 0 auto;">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Строка 1</th>
                    <th>Строка 2</th>
                    <th>Строка 3</th>
                    <th>Тип 1</th>
                    <th>BigDecimal 1</th>
                    <th>BigDecimal 2</th>
                    <th sec:authorize="hasRole('ROLE_OWNER')">Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="Row : ${ReportData}">
                    <td th:text="${Row.id}"></td>
                    <td th:text="${Row.string1}"></td>
                    <td th:text="${Row.string2}"></td>
                    <td th:text="${Row.string3}"></td>
                    <td th:text="${Row.type1}"></td>
                    <td th:text="${Row.bigDecimal1}"></td>
                    <td th:text="${Row.bigDecimal2}"></td>
                    <td sec:authorize="hasRole('ROLE_OWNER')">
                        <a th:href="@{delete/__${Row.id}__}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>