<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: html_head(pageTitle='Welcome page')"/>
<body>
	<div align="center" th:replace="fragments :: header"></div>
	<div align="center">
		<h4><a th:href="@{/user}">To users page</a></h4>
	</div>
	<div align="center">
		<h4><a th:href="@{/admin}">To admins page</a></h4>
	</div>
	<div align="center">
		<h4><a th:href="@{/owner}">To owners page</a></h4>
	</div>
	<div align="center">
		<h4><a th:href="@{/common}">To common page</a></h4>
	</div>
</body>
</html>